extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.js")
  script(src="http://webrtc.github.io/adapter/adapter-latest.js")
  script(src="//cdn.jsdelivr.net/bluebird/3.3.5/bluebird.js")
  script(src="javascripts/peer.js")
